<h1>SkillManagements#show</h1>
<%= link_to "マイページ", mypages_path %>
<hr>


<%= link_to "新規登録", new_skill_managements_path %><br>

<table class="">
<tbody>
<tr>
  <td>スキル</td>
  <td>スキルレベル</td>

</tr>


<% @skill_management.each do |s| %>
    <tr>
    <td><%= s.skill.skill %></td>
    <td><%= s.skill_level %></td>
    </tr>
<% end %>
</tbody>
</table>