<h1>SkillManagements#show</h1>
<p>Find me in app/views/skill_managements/show.html.erb</p>


<%= link_to "新規登録", new_skill_managements_path %><br>

<div>
<% @skill_management.each do |s| %>
    <%= s.skill.skill %>/
    <%= s.skill_level %><br>
<% end %>
</div>